.page-footer {
  min-height: 55px;
  padding: 15px 0;
  background-color: #111111;
  box-sizing: border-box;
}

.page-footer__wrapper {
  margin-left: 20px;
}

.page-footer__copyright {
  margin: 0;
}

@media @desktop-widths {
  .page-footer__wrapper {
    .container();
  }
}